.menu-list {
    position: fixed;
    top: 0;
    right: -70vw;
    bottom: 0;
    height: 100%;
    background-color: var(--grey-color);
    box-shadow: -2px 0px 5px 2px rgba(0, 0, 0, 0.25);
    width: 70vw;
}

.menu-list.deployed {
    animation: slide-in 0.4s ease-in-out normal forwards;
}

.menu-list.retracted {
    animation: slide-out 0.4s ease-in-out normal forwards;
}

@keyframes slide-in {
    0% {
        right: -70vw;
    }

    100% {
        right: 0;
    }
}

@keyframes slide-out {
    0% {
        right: 0;
    }

    100% {
        right: -70vw;
    }
}